<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
  	<link rel="stylesheet" type="text/css" href="../../public/stylesheets/bgStyle.css">
  	<link rel="stylesheet" type="text/css" href="../../public/stylesheets/login.css">

    <title>Login | SID</title>
  </head>
  <body class='bg bge bgImg'>
    <p class="imgLocation">Image by Unsplash</p>
    <div id="target" class="fullScreen">
      <div class="id_input covra">
        <p class="SIDTITLE" style="margin-bottom: 15px">STARTERGATE<strong>IDENTITY</strong></p>
        <div id="back" class='loginBack'>
          <button class='imgBtn'>
            <img src="../../public/frontend/beforeArrow.svg" alt="">
          </button>
          <div class='identity'>씨발씨발씨발</div>
        </div>

        <p class="loginText" style="margin-bottom: 20px">Sign in</p>
        <form action="">
          <input type="text" id='id_input' name='id' class='sidInput' placeholder='ID'>
          <input type="text" id='pw_input' name='pw' class='sidInput hidden' placeholder='비밀번호 입력'>
          <input type="text" id='pw_reinput' name='pwr' class='sidInput hidden' placeholder='비밀번호 재입력'>
          <input type="text" id='nk_input' name='nk' class='sidInput hidden' placeholder='닉네임 입력'>
          <div class='dummy' style='margin-bottom: 15px'></div>
          <button class='btn btnContinue'>계속</button>
        </form>
      </div>
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  </body>
</html>
