@import url(//fonts.googleapis.com/earlyaccess/notosanskr.css);
body {
  background-color: #3d414d;
  font-family: Noto Sans KR;
}

input {
  text-align: center;
}

input:first-child {
  border-top-left-radius: 7px;
  border-top-right-radius: 7px;
}

input:last-child {
  border-bottom-left-radius: 7px;
  border-bottom-right-radius: 7px;
}

.backGround {
  z-index: -999999;
  background-image: url('https://source.unsplash.com/random/1280x720');
  background-color: #3d414d;
  background-size: cover;
  filter: blur(5px);
  -webkit-filter: blur(6px);
  -moz-filter: blur(6px);
  -o-filter: blur(6px);
  -ms-filter: blur(6px)
}

.fullScreen {
  position: fixed;
  width: 100vw;
  height: 100vh;
}

.profileWrapper {
  background-color: white;
  transform: translate(-50%, -50%);
  position: absolute;
  top: 50%;
  left: 50%;
  padding: 37px;
  text-align: center;
  border: 1px solid #ccc;
  border-radius: 8px;
}

@media (min-width: 306.1px) {
  .profileWrapper {
    width: 300px;
  }
}

@media (max-width: 306px) {
  .profileWrapper {
    width: 98vh;
  }
}

.sidProfileImg {
  width: 200px;
}

.sidUserInput {
  border: 1px solid #ccc;
}

.sidUserInputNoBorder {
  border: 1px solid transparent;
  border-radius: 7px;
}

.sidUserInputNoBorder:hover {
  border: 1px solid #ccc;
}

.sidUserInputNoBorder:active {
  border: 1px solid #ccc;
}

.sidUserSave {
  position: absolute;
  border: 1px solid #3d414d;
  border-radius: 5px;
  background: #3d414d;
  color: white;
  right: 5px;
  bottom: 5px;
}
