body {
  background-color: #3d414d;
}

.backGround {
  z-index: -999999;
  background-image: url('https://source.unsplash.com/random/1280x720');
  background-color: #3d414d;
  background-size: cover;
  filter: blur(5px);
  -webkit-filter: blur(6px);
  -moz-filter: blur(6px);
  -o-filter: blur(6px);
  -ms-filter: blur(6px)
}

.fullScreen {
  position: fixed;
  width: 100vw;
  height: 100vh;
}

.profileWrapper {
  background-color: white;
  transform: translate(-50%, -50%);
  position: absolute;
  top: 50%;
  left: 50%;
  padding: 20px;
  text-align: center;
  border: 1px solid #ccc;
  border-radius: 8px;
}

@media (min-width: 300px) {
  .profileWrapper {
    width: 300px;
  }
}

.sidProfileImg {
  width: 200px;
}

.sidUserInput {
  border: 1px solid #ccc;
}

.sidUserInputNoBorder {
  border: 0;
}

.sidUserSave {
  right: 5px;
  bottom: 5px;
}
